<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editando categoria</title>
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <div id="container">
        <form action="/admin/categorias/edit" method="POST">
            <h3>Editar categoria</h3>
    
            <input type="hidden" name="id" value="<%=categoria._id%>">

            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="nome da categoria" value="<%= categoria.nome%>">
            
            <label for="slug">Slug:</label>
            <input type="text" name="slug" placeholder="slug da categoria" value="<%= categoria.slug%>"> 
    
            <button type="submit">Editar categoria categoria</button>
        </form>
    </div>
   
</body>
</html>