<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens</title>
</head>
<body>

    <%- include ('../partials/header.ejs') %>

    <div id="container">
        <h1>Lista de Postagens</h1>
        <hr>
        <a href="/admin/postagens/add">
            <button>Nova Postagens</button>
        </a>
    </div>

</body>
</html>