<head>
    <link rel="stylesheet" href="/css/header.css">
</head>

<header>
    <nav>
        <a href="/">HOME</a>
        <a href="/categorias">Categoria</a>
        <a href="#">ABOUT</a>
    </nav>
</header>