<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    
    
    <div id="container">
        <%- include ("../partials/msg.ejs") %>
        <%for(let i = 0; i<erros.length;i++){%>
            <h3 class="alert"><%=erros[i].texto%></h3>
        <%}%>
        <h3>Crie sua conta hoje!</h3>
        <form action="/usuarios/registro" method="post">
            <label for="nome">Nome:</label>
            <input type="text" name="nome">
            <label for="email">Email:</label>
            <input type="email" name="email">
            <label for="senha">Senha:</label>
            <input type="password" name="senha">
            <label for="senha2">Repita sua senha:</label>
            <input type="password" name="senha2">
            <button type="submit">Criar conta</button>
        </form>
    </div>

</body>
</html>