<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include ("../partials/header.ejs") %>
    <div id="container">
        <h1><%=postagem.titulo%></h1>
        <hr>
        <h1>Conteudo:<%=postagem.conteudo%></h1>

        
    </div>

</body>
</html>